html {
    font-size: 14px;
    background-color: palegoldenrod;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 5%;
  overflow-x: hidden;
  margin: 0;
}

.navbar {
    width: 100%;
    margin: auto;
    padding: 1% 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(204, 156, 92);
}

    .navbar h1 {
        cursor: pointer;
        color: white;
        margin-left: 5%;
        font-size: 40px;
    }

    .navbar ul li {
        list-style: none;
        display: inline-block;
        position: relative;
        margin-right: 100px;
    }

        .navbar ul li a {
            text-decoration: none;
            text-transform: uppercase;
            color: white;
            font-size: 20px;
        }

        .navbar ul li::after {
            content: '';
            height: 20%;
            width: 0;
            background: rgb(174, 113, 32);
            position: absolute;
            left: 0;
            bottom: -10px;
            transition: 0.5s;
        }

        .navbar ul li:hover::after {
            width: 100%;
        }

body h1 {
    color: black;
}

.banner {
    width: 100%;
    height: 120%;
    background-color: palegoldenrod;
    padding-bottom: 0px;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: black;
    justify-content: center;

}

    .content h1 {
        font-size: 70px;
        margin-top: 10%;
    }

    .content p {
        margin: 1% auto;
        font-weight: 100;
        line-height: 25px;
        width: 75%;
    }

    .content .scheduleSearch {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .content .scheduleDelete {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .content .showSchedules {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 1%;
    }

button {
    width: 10%;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 60%;
    border: 2px solid rgb(102, 41, 41);
    background: rgb(201, 143, 66);
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span {
    background: rgb(102, 41, 41);
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span {
    width: 100%;
}

input[type=text]{
    width: 40%;
    padding: 1.5% 5%;
    margin: 8px 0;
    background-color: rgb(201, 143, 66);
    color: white;
    border-radius: 8px;
    border: 2px solid rgb(102, 41, 41);
    text-align: center;
}

input[type=number] {
    width: 5%;
    padding: 1% 20px;
    margin: 8px 0;
    background-color: rgb(201, 143, 66);
    color: white;
    border-radius: 8px;
    border: 2px solid rgb(102, 41, 41);
    text-align: center;
}

input[type=submit] {
    width: 20%;
    padding: 1.5% 5%;
    font-size: 60%;
    background-color: rgb(201, 143, 66);
    color: white;
    border-radius: 8px;
    border: 2px solid rgb(102, 41, 41);
}

.login {
    padding: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 8%;
    background-color: rgb(204, 156, 92);
    width: 40%;
    height: 60%;
    margin-left: 30%;
    border: 3px solid rgb(102, 41, 41);
    color: white;
    border-radius: 20px;
}

.register {
    padding: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 8%;
    background-color: rgb(204, 156, 92);
    width: 40%;
    height: 45%;
    margin-left: 30%;
    border: 3px solid rgb(102, 41, 41);
    color: white;
    border-radius: 20px;
}

.schedule {
    padding: 12px;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    background-color: rgb(204, 156, 92);
    width: 60%;
    height: 70%;
    margin-left: 20%;
    border: 3px solid rgb(102, 41, 41);
    color: white;
    border-radius: 20px;
}

#scheduleContainer {
    padding: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    background-color: rgb(204, 156, 92);
    width: 60%;
    height: 70%;
    margin-left: 20%;
    border: 3px solid rgb(102, 41, 41);
    color: white;
    text-align: center;
    font-size: 50px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
    #scheduleContainer h1 {
        margin-bottom: 10px;
        display: inline-block;
        color: white;
    }

    #scheduleContainer ul {

        padding: 0px;
        list-style: none;
        
    }
        #scheduleContainer ul li {

            padding: 10px;
        }

    #scheduleContainer button {
        display: flex;
        align-items: center; 
        justify-content: center; 
        width: 20%;
        height: 30%; 
        margin-top: 10px; 
    }


form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


label {
    font-weight: bold;
}

