html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar {
    width: 100%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(201, 143, 66);
}

    .navbar h1 {
        cursor: pointer;
        color: white;
        margin-left: 5%;
        font-size: 40px;
    }

    .navbar ul li {
        list-style: none;
        display: inline-block;
        position: relative;
        margin-right: 100px;
    }

        .navbar ul li a {
            text-decoration: none;
            text-transform: uppercase;
            color: white;
            font-size: 20px;
        }

        .navbar ul li::after {
            content: '';
            height: 3px;
            width: 0;
            background: rgb(174, 113, 32);
            position: absolute;
            left: 0;
            bottom: -10px;
            transition: 0.5s;
        }

        .navbar ul li:hover::after {
            width: 100%;
        }

body h1 {
    color: black;
}

.banner {
    width: 100%;
    height: 100vh;
    background-color: palegoldenrod;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: black;
}

    .content h1 {
        font-size: 70px;
        margin-top: 80px;
    }

    .content p {
        margin: 20px auto;
        font-weight: 100;
        line-height: 25px;
    }

button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid rgb(102, 41, 41);
    background: rgb(201, 143, 66);
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span {
    background: rgb(102, 41, 41);
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span {
    width: 100%;
}


<<<<<<< Updated upstream

input[type=text] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: rgb(201, 143, 66);
    color: white;
    border-radius: 8px;
    border: 2px solid rgb(102, 41, 41);
}

input[type=submit] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: rgb(201, 143, 66);
    color: white;
    border-radius: 8px;
    border: 2px solid rgb(102, 41, 41);
}

.login {
    padding: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 8%;
    background-color: rgb(204, 156, 92);
    width: 40%;
    height: 45%;
    margin-left: 30%;
    border: 3px solid rgb(102, 41, 41);
    color: white;
}

.register {
    padding: 20px;  
    align-items: center;
    justify-content: center;
    margin-top: 8%;
    background-color: rgb(204, 156, 92);
    width: 40%;
    height: 45%;
    margin-left: 30%;
    border: 3px solid rgb(102, 41, 41);
}

=======
.login {
    border: 2px solid rgb(102, 41, 41);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

>>>>>>> Stashed changes
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
<<<<<<< Updated upstream
}


label {
    font-weight: bold;
}
=======
>>>>>>> Stashed changes
